* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .add-task {
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 90%;
    max-width: 400px;
    margin: 20px auto;
  }
  
  .add-task h2 {
    display: flex;
    align-items: center;
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
  }
  
  .back-arrow {
    margin-right: 10px;
    cursor: pointer;
    font-size: 24px;
    color: #2EC4B6;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  form label {
    margin-top: 10px;
    color: #333;
    font-size: 14px;
  }
  
  form input {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #2EC4B6;
    border-radius: 5px;
    font-size: 14px;
  }
  
  form button {
    margin-top: 20px;
    padding: 10px;
    background-color: #2EC4B6;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  form button:hover {
    background-color: #0056b3;
  }
  